[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=/usr/share/spotify/icons/spotify-linux-128.png
TryExec=spotify
Exec=spotify %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
